@value marketTeamOrange, marketBlack, marketGrey, marketWhite from '../../../common/colors.css';

.smsForm {
  display: flex;
  width: 100%;
  padding: 4px 16px;
  background-color: marketWhite;
}

.smsInput {
  width: 100%;
  margin-right: 4px;
}

.smsButton {
  font-size: 1.2rem;
  background: marketTeamOrange;
  font-weight: bold;
  padding: 4px;
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
  margin-left: 10px;
  font-weight: bold;
  color: marketWhite;
  cursor: pointer;
}