@value marketWhite, marketBlack, marketShadow, marketTeamOrange, marketTeamYellow, marketTeamLightOrange, marketInput from '../../common/colors.css';

.create {
  text-align: center;
}

.createButton {
  margin-top: 1rem;
  color: marketTeamOrange;
  background-color: transparent;
  border: 2px solid marketTeamOrange;
}

.createButton:hover {
  color: marketBlack;
  background-color: marketTeamYellow;
  transition: 2s;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  padding: 4em 0;
  display: grid;
  grid-template-columns: repeat(1, 500px);
  grid-template-rows: repeat(auto-fit, 500px);
  grid-auto-rows: 300px;
  grid-gap: 30px 20px;
  justify-content: center;
  background: marketWhite;
  box-sizing: border-box;
}

.post {
  border: 2px solid marketBlack;
  color: marketBlack;
  border-radius: 10%;
  background: transparent;
  box-shadow: 10px 5px 5px marketShadow;
  transition: transform 250ms ease-in;
}

.title {
  color: marketBlack;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid marketBlack;
}

.inputTitle {
  width: 250px;
  height: 40px;
  padding: 0 80px 0 15px;
  border: 1px solid marketTeamOrange;
  border-radius: 18px;
  background-color: marketInput;
  font-family: 'Noto Sans';
  font-weight: bold;
  font-size: 12px;
  color: marketGrey;
  line-height: 16px;
  outline: none;
}

.author {
  margin-left: 1.1rem;
  display: flex;
  font-size: 0.6em;
  border-bottom: 1px solid marketBlack;
}

.body {
  height: 80%;
  padding: 11px;
  border-radius: 20px;
  color: marketBlack;
}

.inputDescription {
  width: 475px;
  height: 315px;
  padding: 0 60px 0 16px;
  border: 1px solid marketTeamOrange;
  border-radius: 20px;
  background-color: marketInput;
  font-family: 'Noto Sans';
  font-weight: bold;
  font-size: 12px;
  color: marketGrey;
  line-height: 16px;
  outline: none;
}