.title {
  padding: 4em 0 0 0;
  text-align: center;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  padding: 8em 0;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(auto-fit, 300px);
  grid-auto-rows: 300px;
  grid-gap: 30px 20px;
  justify-content: center;
  background: marketWhite;
  box-sizing: border-box;
}