.indexWrap {
  width: 1425px;
}
.indexContainer {
  display: flex;
  justify-content: space-around;
}
.indexItems {
  margin: 16px;
}
.indexItems > h3 {
  text-align: center;
}
.indexItems > h5 {
  text-align: center;
}
.indexItems_01 {
  flex-direction: row;
  width: 400px;
}
.indexHr {
  width: 95%;
  border-bottom: 1px solid hsl(218, 10%, 85%);
}
.indexH1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 26px;
}
.mdContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
}
.mdItems {
  flex-direction: row;
}
