@value marketTeamOrange, marketTeamLightOrange, marketBlack, marketShadow, marketLightGrey from '../../common/colors.css';

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 1.5rem 1rem;
  z-index: 50;
}

.navbar_list {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar_list > li {
  padding: 4rem;
}

.navbar_list > li > a {
  text-decoration: none;
  font-size: 1rem;
  color: marketBlack;
}

.title:hover {
  color: marketTeamLightOrange;
  transition: 0.5s;
}

.cart {
  padding: 10px;
  border-radius: 8px;
}