.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 1.5rem 1rem;
  z-index: 50;
}

.navbar_list {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar_list > li {
  padding: 4rem;
}

.navbar_list > li > a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: hsl(218, 10%, 75%);
}

.title:hover {
  color: lightskyblue;
  transition: 1s;
}

.cart {
  padding: 10px;
  border-radius: 8px;
}